<h1>出品者情報</h1>
<table>
    <thead>
        <tr>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>住所</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.mail %></td>
                <td><%= user.address %></td>
            </tr>
        <% end %>    
    </tbody>
</table>
