

<h1>出品登録</h1>




<form action="#" method="post">
	<h3>商品名<br>
	<input type="text" name="name"></p>
    <h3>価格<br>
	<input type="text" name="name"></p>
    


<h3>商品説明<br>
<textarea name="example2" cols="30" rows="20">
商品のサイズ:
商品の状態:
発送元の地域:
発送までの日数:
</textarea></p>

<h3>商品カテゴリー</h3>
<select>
	<option>制服</option>
	<option>くつ</option>
	<option>かばん</option>
</select>


<p><a href= 'http://localhost:3000/put_list'>戻る</a></p>