<%= @test %>

<div>
    <img src="/assets/report_list.png" >
    <img src="/assets/report_list.png" >
    <img src="/assets/report_list.png" >
    <%# <%= link_to image_tag("/assets/report_list.png"), report_list_path %> %>
</div>