<h1 class="text-center">Reutyへようこそ！</h1>
<h2 class="text-center">アカウント作成</h2>
<form class="new_user" id="new_user" action="/signup" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="dStrA86aGPc1kp8jqGNMcNMBE+Y1zBMR+4pshaErYfZeZUZ016a/lYG9TjTYMsy7SKhkdgyKtmoN1MpPskbcTg==" /> 
<form class="form-horizontal"></form>
    <div class = "row mb-3">
        <div class="col-xs-3">  
            <div class="d-flex justify-content-center">          
                <label for="user_name">名前</label>
                <input class="form_control" type="text" name="user[name]" id="user_name" />
            </div>    
        </div>    
    </div>
    <div class = "row mb-3">  
        <div class="col-xs-3">
            <div class="d-flex justify-content-center">
                <label for="password">パスワード</label>
                <input class="form_control" type="password" name="user[name]" id="user_name" />
            </div>    
        </div>
    </div>
    <div class = "row mb-3">  
        <div class="col-xs-3">
            <div class="d-flex justify-content-center">
                <label for="mail">メールアドレス</label>
                <input class="form_control" type="text" name="user[name]" id="user_name" />
            </div>    
        </div>    
    </div>
    <div class = "row mb-3">
        <div class="col-xs-3">  
            <div class="d-flex justify-content-center">
                <label for="adress">住所</label>
                <input class="form_control" type="text" name="user[name]" id="user_name" />
            </div>    
        </div>    
    </div>    
</form>     
