/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ホーム */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-souldout img {
  width: 100%;
  padding-top:30%;
}
.img-star img {
  width: 40%;
}
/* 商品詳細 */
.img-profile img{
  width: 10%;
  border-radius: 50%;
  object-fit: cover;
}
.img-product {
  width:80%;
}

/* 一覧 */
table {
  margin: auto;
}
.text-list{
  vertical-align: middle;
}

.img-list {
  width: 200px;
}
.img-list img {
  width:100%;
  object-fit: cover;
}

.back {
  text-align: end;
}

/* 出品登録 */
.box-parent {
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  align-items:center; 
}
.box-child {
  width:300px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
}

.col put_entry{
  column-count: 2;
}

a.link:link, a.link:visited, a.link:hover, a.link:focus{
  text-decoration: none;
  color: white ;
  background-color: transparent;
}

.kakute{
  height:790px;
  line-height:790px;
  text-align:center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.back{
  position: fixed;
  bottom: 30px;
  left: 30px;
}