/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ホーム */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-souldout img {
  width: 100%;
  padding-top:30%;
}
.img-star img {
  width: 40%;
}
/* 商品詳細 */
.img-profile img{
  width: 20%;
  border-radius: 50%;
  object-fit: cover;
}

/* 一覧 */
table {
  margin: auto;
}
.text-list{
  margin-top: 80px
}

.img-list {
  width: 200px;
}
.img-list img {
  width:100%;
  object-fit: cover;
}

.back {
  text-align: end;
}